@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 50vw;
    height: 100vh;
    background-color: #000000;
}

h1,
button,
.scoreboard,
#round-result,
#result {
    color: #00E4FF;
    font-family: 'Audiowide', cursive;
}

h1 {
    text-align: center;
    font-size: 56px;
    background: -webkit-linear-gradient(#9500F5, #FF009E, #FFE000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    width: 70%;
}

#round-result {
    text-align: center;
    font-size: 24px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons input {
    width: 20%;
}

#result {
    text-align: center;
    margin: 56px;
    font-size: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer .github {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
}

footer .github a {
    margin: 0 6px;
    text-decoration: none;
    color: #00E4FF;
}

footer img {
    width: 2em;
    height: auto;
}